<!DOCTYPE html>
<html>
  <head>
    <title>R7Additional</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
<body>
<div "container-fluid">

<div class="banner-background">
<h1>Customers and Orders</h1>
</div>
<nav class="navbar navbar-expand-sm bg-light">
<div class="dropdown">
    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
      Customers    
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/customers">View All Customers</a></li>
      <li><a class="dropdown-item" href="/customers/new">Add New Customer</a></li>
    </ul><button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
      Orders    
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="/orders">View All Orders</a>
      </li>
      <li>
        <a class="dropdown-item" href="/orders/new">Add New Order</a>
      </li>
    </ul>
</div>
</nav>
<div class = "content">

<%= yield %>
</div>
  </body>
  </div>
</html>
